{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}LISTA DE TAREA{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .bg-guinda { background-color: #800020; }
        .text-guinda { color: #800020; }
        .bg-gris { background-color: #f8f9fa; }
        .text-blanco { color: #ffffff; }
    </style>
</head>
<body class="bg-gris">
    <nav class="navbar navbar-expand-lg bg-guinda">
        <div class="container-fluid">
            <a class="navbar-brand text-blanco" href="#">Parras Dev</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-blanco" aria-current="page" href="{% url 'home:list_exam' %}">Lista Tarea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-blanco" href="{% url 'home:list_auditoria' %}">Lista Auditores</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-blanco" href="{% url 'home:list_aplication' %}">Lista Aplicaciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- class body  -->
    <div class="container-xxl px-lg-5 pt-4 pb-5 pb-lg-0 mt-5 bg-white border border-secondary rounded">
        <div class="row">
            {% block content %}
            {% endblock content %}
        </div>  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>  
</body>
</html>

