{% extends "base.html" %}

{% block title %}Nueva Task{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button type="submit" >New task</button>
            <a href="{% url 'home:list_exam' %}" >Cancel</a>
    </form>
{% endblock content %}
