{% extends "base.html" %}

{% block title %}Delete Task{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ object }}
            <button type="submit">Delete task</button>
            <a href="{% url 'home:list_exam' %}" >Cancel</a>
    </form>
{% endblock content %}

