{% extends "base.html" %}

{% block title %}To do{% endblock title %}

{% block content %}
  <h2>List</h2>
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <a class="nav-link text-black" href="{% url 'home:create_aplication' %}">Create Aplication</a>
        {% for app in Aplicacion %}
        <tr>
            <td>{{ app.nombre}}</td>
            <td><a href="{% url 'home:update_aplication' app.pk %}"class="btn btn-outline-warning form-control">Update</td>
            <td><a href="{% url 'home:delete_aplication' app.pk %}"class="btn btn-outline-danger form-control">Delete</td>
        </tr>
        {%endfor%}
      </tbody>
  </table>
  
{% endblock content %}