{% extends "base.html" %}

{% block title %}To do{% endblock title %}

{% block content %}
  <h2>list</h2>
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <a class="nav-link text-black" href="{% url 'home:create_auditoria' %}">Create auditar</a>
        {% for au in auditor %}
        <tr>
            <td>{{ au.nombre}}</td>
            <td>{{ au.apellido}}</td>
            <td>{{ au.correo}}</td>
            <td>{{ au.telefono}}</td>
            <td></td>
            <td><a href="{% url 'home:update_auditoria' au.pk %}"class="btn btn-outline-warning form-control">Update</td>
            <td><a href="{% url 'home:delete_auditoria' au.pk %}"class="btn btn-outline-danger form-control">Delete</td>
        </tr>
        {%endfor%}
      </tbody>
  </table>
  
{% endblock content %}