{% extends "base.html" %}

{% block title %}To do{% endblock title %}

{% block content %}
  <h2>Lista de Tareas </h2>
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col">Fecha de creacion</th>
          <th scope="col">Fecha Limite</th>
          <th scope="col">Estatus</th>
          <th scope="col">Responsable<th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <a class="btn btn-outline-success" href="{% url 'home:create_exam' %}">Nueva Tarea</a>
        {% for task in tarea %}
        <tr>
            <td>{{ task.descripcion}}</td>
            <td>{{ task.fecha_creacion}}</td>
            <td>{{ task.fecha_limite}}</td>
            <td>{{ task.completada}}</td>
            <td>{{ task.auditor_asignado.apellido }}, {{ task.auditor_asignado.nombre }}</td>
            <td></td>
            <td><a href="{% url 'home:update_exam' task.pk %}"class="btn btn-outline-warning form-control">Actualizar</td>
            <td><a href="{% url 'home:delete_exam' task.pk %}"class="btn btn-outline-danger form-control">Borrar</td>
        </tr>
        {%endfor%}
      </tbody>
  </table>
  
{% endblock content %}